/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*
=============== 
Variables
===============
*/
 
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* black primary color */
  --clr-black-1: #373331;
  --clr-black-2: #000;
  --clr-black-3: #333;
  --clr-black-4: #63686e;
  --clr-black-5: #272D2D;
  --clr-black-6: #393e46;
  --clr-black-7: #828489;
  --clr-black-8: #272932;
  --clr-black-9: #191716;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-grey-11: #b6c2d9;
  --clr-grey-12: #9e90a2;
  --clr-grey-13: #beb7a4;
  /* white primary color*/
  --clr-white-1: #fff;
  --clr-white-2: #ffe5ab;
  --clr-white-3: #fcea90;
  --clr-white-4: #fff1c1;
  --clr-white-5: #ffd6a4;
  --clr-white-6: #e0e2db;
  --clr-white-7: #FFE5B9;
  --clr-white-8: #FAF4F4;
    /* blue primary color*/
  --clr-blue-1: #4d7ea8;
  /* red primary color*/
  --clr-red-1: #BB2525;
  --clr-red-2: #e66b6b;
  /* yellow primary color */
  --clr-yellow-1: #e6af2e;

  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-third: 'Sacramento', cursive;
  --transition: all .5s linear;
  --transition-1: transform 2s; 
  --transition-2: bottom 2s;
  --transition-3: transform 4s;
  --transition-5: opacity 4s;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px var(--clr-black-8);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--ff-primary);
}


/*
=============== 
navBar
===============
*/

nav ul{
  list-style-type: none;
  border-top: 5px solid var(--clr-yellow-1);
  background: var(--clr-black-9);
}

nav ul li a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 15px 25px;  
  color: var(--clr-yellow-1);
  transition: var(--transition);
  font-weight: 700;
}

nav ul a:hover{
  color: var(--clr-white-6);
}

.logo{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--clr-black-9);
  background: var(--clr-yellow-1);
  font-style: italic;
  transition: var(--transition);
}

.logo:hover{
  background: var(--clr-white-8);
  color: var(--clr-yellow-1);
}

@media screen and (min-width: 768px){
  nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  nav ul il{
    flex: 1 0 auto;
  }

  .logo{
    display: block;
    text-align: center;
  }

  .logo .fa{
    display: none;
  }
}

/*
=============== 
Banner
===============
*/

#banner{
  min-height: 90vh;
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/image-banner.jpeg) center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text{
  font-size: 50px;
  text-transform: uppercase;
  color: var(--clr-white-6);
  font-style: italic;
}

.banner-underline{
  width: 200px;
  border: 2px solid var(--clr-yellow-1);
  margin: 10px auto 50px auto;
  background: var(--clr-yellow-1);
}

.banner-btn{
  display: flex;
  justify-content: space-between;
}

.banner-btn button{
  font-size: 25px;
  padding: 15px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: var(--clr-yellow-1);
  border: 2px solid var(--clr-yellow-1);
  transition: var(--transition);
}

.banner-btn button:hover{
  color: var(--clr-white-6);
  background: var(--clr-yellow-1);
}

/*
=============== 
Skills
===============
*/

#skills{
  padding: 3rem 0;
  background: var(--clr-white-1);
}

.skills-container{
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(268.5px,1fr));
}

.skills-item{
  text-align: center;
  margin: 2rem auto;
  transition: var(--transition);
  padding: 1rem;
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  box-shadow: var(--light-shadow);
  background: var(--clr-white-1);
}

.skills-item:hover{
  background: var(--clr-yellow-1);
  box-shadow: var(--dark-shadow);
}

.skills-item:hover h1{
  color: var(--clr-white-1);
}

.skills-item:hover .fas{
  color: var(--clr-white-1);
}

.skills-item:hover p{
  color: var(--clr-white-1);
}

.skills-item .fas{
  font-size: 3rem;
  color: var(--clr-black-9);
  letter-spacing: 1px;
}

.skills-item h1{
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 2rem 0;
  color: var(--clr-yellow-1);
  text-transform: uppercase;
}

.skills-item p{
  width: 15rem;
  margin: 0 auto;
  color: var(--clr-black-1);
}

/*
=============== 
Services
===============
*/

#services{
  min-height: 100vh;
  background: url(../images/services.jpeg) center/cover no-repeat fixed;
  padding: 1.5rem 0 5rem 0;
}

.title{
  margin: 2.5rem 0;
}

.title-text{
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr-yellow-1);
  font-style: italic;
  text-transform: uppercase;
}

.title-underline{
  width: 12.5rem;
  border: 3px solid var(--clr-yellow-1);
  margin: 0 auto;
  background: var(--clr-yellow-1);
}

.services-container{
  max-width: 90vw;
  margin: 0 auto;
  color: var(--clr-white-6);
}

.service-item{
  overflow: hidden;
  position: relative;
  padding: 4rem;
  transition: var(--transition);
}

.service-item-black{
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.service-item-white{
  background: linear-gradient(rgba(206,208,206,0.6),rgba(206,208,206,0.6));
  color: var(--clr-black-9);
}

.front-text{
  text-align: center;
  transition: var(--transition-1);
}

.front-text .fas{
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--clr-yellow-1);
}

.front-text h1{
  text-transform: capitalize;
  font-size: 1.5rem;
}

.back-text{
  position: absolute;
  bottom: -15rem;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  transition: var(--transition-1);
}

.back-text h1{
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.back-text p{
  font-size: 1.2rem;
  width: 23rem;
  font-weight: 700;
}

.back-text button{
  margin-top: 1.5rem;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid var(--clr-yellow-1);
  font-size: 1.5rem;
  color: var(--clr-yellow-1);
  transition: var(--transition);
  cursor: pointer;
  text-transform: capitalize;
}

.back-text button:hover{
  background: var(--clr-yellow-1);
  color: var(--clr-black-9);
}

.service-item-white button{
  background: var(--clr-yellow-1);
  color: var(--clr-black-9);
  transition: var(--transition);
}

.service-item-white button:hover{
  background: var(--clr-black-9);
  color: var(--clr-yellow-1);
  border-color: var(--clr-black-9);
}

.service-item:hover .front-text{
  transform: translateY(-12.5rem);
}

.service-item:hover .back-text{
  transform: translateY(-15rem);
}

@media screen and (min-width: 768px){
  .services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-container .service-item:nth-of-type(1){
    order: 1;
  }

  .services-container .service-item:nth-of-type(2){
    order: 2;
  }

  .services-container .service-item:nth-of-type(3){
    order: 4;
  }

    .services-container .service-item:nth-of-type(4){
    order: 3;
  }
}


/*
=============== 
projects
===============
*/

#projects{
  padding: 1.5rem 0 5rem 0;
  background: var(--clr-white-1);
}

.projects-container{
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px,1fr));
}

.projects-item{
  position: relative;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
  color: var(--clr-white-1);
  overflow: hidden;
  margin: 3rem 0;
}

.projects-item img{
  width: 100%;
  min-height: 100%;
  display: block;
  transition: var(--transition-3);
}

.img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: var(--transition-5);
}

.img-text h1{
  font-size: 2rem;
  margin-bottom: .5rem;
}

.img-text h6{
  font-size: 1rem;
}

.img-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--clr-yellow-1);
  transition: var(--transition-5);
  opacity: 0;
}

.projects-item:hover img{
  opacity: 0.4;
  transform: scale(1.3);
}

.projects-item:hover .img-text,
.projects-item:hover .img-footer{
  opacity: 1;
}



























